* {
    box-sizing: border-box;
}


html,
body {
    height: 100vh;
    width: 100%;
    position: relative;
    margin: 0;
}

.chatPageHeader {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

#logoutButton {
    float: right;
    margin: 1rem;
}

.chatPageFooter {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    padding: 0.5rem;
}

#chatMessageForm {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chatMessageInput {
    width: 50%;
    border: 2px solid blue;
}

.chatPageMainBody {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.chatMessageSection {
    width: 50%;
}

.chatMessageItem {
    padding: 1rem;
}

.chatMessageItem.dark {
    background-color: grey;
}

.chatMessageItem.light {
    background-color: whitesmoke;
}